In [24]:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
mat = pd.read_csv('student-mat.csv', sep = ';')
print(mat.head(10))
print(mat.shape)

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1   at_home     other ...
2     GP   F   15       U     LE3       T     1     1   at_home     other ...
3     GP   F   15       U     GT3       T     4     2    health  services ...
4     GP   F   16       U     GT3       T     3     3     other     other ...
5     GP   M   16       U     LE3       T     4     3  services     other ...
6     GP   M   16       U     LE3       T     2     2     other     other ...
7     GP   F   17       U     GT3       A     4     4     other   teacher ...
8     GP   M   15       U     LE3       A     3     2  services     other ...
9     GP   M   15       U     GT3       T     3     4     other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10
5      5        4      2     1     2      5       10  15  15  15
6      4        4      4     1     1      3        0  12  12  11
7      4        1      4     1     1      1        6   6   5   6
8      4        2      2     1     1      1        0  16  18  19
9      5        5      1     1     1      5        0  14  15  15

[10 rows x 33 columns]
(395, 33)

In [4]:
port = pd.read_csv('student-por.csv', sep = ';')
print(port.head(10))
print(port.shape)

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1   at_home     other ...
2     GP   F   15       U     LE3       T     1     1   at_home     other ...
3     GP   F   15       U     GT3       T     4     2    health  services ...
4     GP   F   16       U     GT3       T     3     3     other     other ...
5     GP   M   16       U     LE3       T     4     3  services     other ...
6     GP   M   16       U     LE3       T     2     2     other     other ...
7     GP   F   17       U     GT3       A     4     4     other   teacher ...
8     GP   M   15       U     LE3       A     3     2  services     other ...
9     GP   M   15       U     GT3       T     3     4     other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        4   0  11  11
1      5        3      3     1     1      3        2   9  11  11
2      4        3      2     2     3      3        6  12  13  12
3      3        2      2     1     1      5        0  14  14  14
4      4        3      2     1     2      5        0  11  13  13
5      5        4      2     1     2      5        6  12  12  13
6      4        4      4     1     1      3        0  13  12  13
7      4        1      4     1     1      1        2  10  13  13
8      4        2      2     1     1      1        0  15  16  17
9      5        5      1     1     1      5        0  12  12  13

[10 rows x 33 columns]
(649, 33)

In [7]:
merged = mat.append(port)
print(merged.shape)

(1044, 33)

In [20]:

merged['Result'] = np.where(merged['G3'] >= 10, 'Pass', 'Fail')
print(merged.head(10))

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher
1     GP   F   17       U     GT3       T     1     1   at_home     other
2     GP   F   15       U     LE3       T     1     1   at_home     other
3     GP   F   15       U     GT3       T     4     2    health  services
4     GP   F   16       U     GT3       T     3     3     other     other
5     GP   M   16       U     LE3       T     4     3  services     other
6     GP   M   16       U     LE3       T     2     2     other     other
7     GP   F   17       U     GT3       A     4     4     other   teacher
8     GP   M   15       U     LE3       A     3     2  services     other
9     GP   M   15       U     GT3       T     3     4     other     other

   ...   freetime goout  Dalc  Walc  health absences  G1  G2  G3 Result
0  ...          3     4     1     1       3        6   5   6   6   Fail
1  ...          3     3     1     1       3        4   5   5   6   Fail
2  ...          3     2     2     3       3       10   7   8  10   Pass
3  ...          2     2     1     1       5        2  15  14  15   Pass
4  ...          3     2     1     2       5        4   6  10  10   Pass
5  ...          4     2     1     2       5       10  15  15  15   Pass
6  ...          4     4     1     1       3        0  12  12  11   Pass
7  ...          1     4     1     1       1        6   6   5   6   Fail
8  ...          2     2     1     1       1        0  16  18  19   Pass
9  ...          5     1     1     1       5        0  14  15  15   Pass

[10 rows x 34 columns]

In [37]:
#Check for outliers
mat.isnull().sum()
port.isnull().sum()
z = np.abs(stats.zscore(mat['absences']))

y = np.abs(stats.zscore(mat.loc[:, mat.dtypes == np.float64]))
x = mat.select_dtypes(include=[np.float64])
print(x)
#print(z)
threshold = 3
print(np.where(z > 3))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[395 rows x 0 columns]
(array([ 74, 183, 276, 280, 307, 315]),)

In [31]:
mat.info()
mat.loc[:, mat.dtypes == np.float64]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 101.9+ KB

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[395 rows x 0 columns]