In [1]:
#import seaborn as sns
#import pandas as pd
#import numpy as np
#from scipy import stats

import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataManipulation').getOrCreate()

In [2]:
#mat = pd.read_csv('student-mat.csv', sep = ';')
#print(mat.head(10))
#print(mat.shape)


matdf = spark.read.csv('student-mat.csv',sep = ';', header=True,inferSchema=True)

#Here's the first row of the data.
print(matdf.head())

#And the entire data structure. 
matdf.printSchema()

matdf.show()

#Data description
matdf.describe().toPandas().transpose()

Row(school='GP', sex='F', age=18, address='U', famsize='GT3', Pstatus='A', Medu=4, Fedu=4, Mjob='at_home', Fjob='teacher', reason='course', guardian='mother', traveltime=2, studytime=2, failures=0, schoolsup='yes', famsup='no', paid='no', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=4, freetime=3, goout=4, Dalc=1, Walc=1, health=3, absences=6, G1=5, G2=6, G3=6)
root
 |-- school: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- famsize: string (nullable = true)
 |-- Pstatus: string (nullable = true)
 |-- Medu: integer (nullable = true)
 |-- Fedu: integer (nullable = true)
 |-- Mjob: string (nullable = true)
 |-- Fjob: string (nullable = true)
 |-- reason: string (nullable = true)
 |-- guardian: string (nullable = true)
 |-- traveltime: integer (nullable = true)
 |-- studytime: integer (nullable = true)
 |-- failures: integer (nullable = true)
 |-- schoolsup: string (nullable = true)
 |-- famsup: string (nullable = true)
 |-- paid: string (nullable = true)
 |-- activities: string (nullable = true)
 |-- nursery: string (nullable = true)
 |-- higher: string (nullable = true)
 |-- internet: string (nullable = true)
 |-- romantic: string (nullable = true)
 |-- famrel: integer (nullable = true)
 |-- freetime: integer (nullable = true)
 |-- goout: integer (nullable = true)
 |-- Dalc: integer (nullable = true)
 |-- Walc: integer (nullable = true)
 |-- health: integer (nullable = true)
 |-- absences: integer (nullable = true)
 |-- G1: integer (nullable = true)
 |-- G2: integer (nullable = true)
 |-- G3: integer (nullable = true)

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0| 10|  8|  9|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4| 10| 12| 12|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2| 14| 14| 14|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2| 10| 10| 11|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 16| 16|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4| 14| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6| 13| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|  8| 10| 10|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|  6|  5|  5|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|  8| 10| 10|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 20 rows

                0                   1                   2        3           4
summary     count                mean              stddev      min         max
school        395                None                None       GP          MS
sex           395                None                None        F           M
age           395  16.696202531645568  1.2760427246056265       15          22
address       395                None                None        R           U
famsize       395                None                None      GT3         LE3
Pstatus       395                None                None        A           T
Medu          395   2.749367088607595  1.0947351414285371        0           4
Fedu          395  2.5215189873417723  1.0882005458269433        0           4
Mjob          395                None                None  at_home     teacher
Fjob          395                None                None  at_home     teacher
reason        395                None                None   course  reputation
guardian      395                None                None   father       other
traveltime    395  1.4481012658227848  0.6975047549086822        1           4
studytime     395  2.0354430379746837  0.8392403464185556        1           4
failures      395  0.3341772151898734  0.7436509736062509        0           3
schoolsup     395                None                None       no         yes
famsup        395                None                None       no         yes
paid          395                None                None       no         yes
activities    395                None                None       no         yes
nursery       395                None                None       no         yes
higher        395                None                None       no         yes
internet      395                None                None       no         yes
romantic      395                None                None       no         yes
famrel        395  3.9443037974683546  0.8966586076885046        1           5
freetime      395  3.2354430379746835  0.9988620396657203        1           5
goout         395   3.108860759493671  1.1132781740183422        1           5
Dalc          395   1.481012658227848  0.8907414280909668        1           5
Walc          395  2.2911392405063293  1.2878965924510932        1           5
health        395  3.5544303797468353  1.3903033913095773        1           5
absences      395   5.708860759493671   8.003095687108182        0          75
G1            395   10.90886075949367  3.3191946715076686        3          19
G2            395  10.713924050632912  3.7615046595560306        0          19
G3            395  10.415189873417722  4.5814426109978434        0          20

In [3]:
#port = pd.read_csv('student-por.csv', sep = ';')
#print(port.head(10))
#print(port.shape)
portdf = spark.read.csv('student-por.csv',sep = ';', header=True,inferSchema=True)

#Here's the first row of the data.
print(portdf.head())

#And the entire data structure. 
portdf.printSchema()

portdf.show()

#Data description
portdf.describe().toPandas().transpose()

Row(school='GP', sex='F', age=18, address='U', famsize='GT3', Pstatus='A', Medu=4, Fedu=4, Mjob='at_home', Fjob='teacher', reason='course', guardian='mother', traveltime=2, studytime=2, failures=0, schoolsup='yes', famsup='no', paid='no', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=4, freetime=3, goout=4, Dalc=1, Walc=1, health=3, absences=4, G1=0, G2=11, G3=11)
root
 |-- school: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- famsize: string (nullable = true)
 |-- Pstatus: string (nullable = true)
 |-- Medu: integer (nullable = true)
 |-- Fedu: integer (nullable = true)
 |-- Mjob: string (nullable = true)
 |-- Fjob: string (nullable = true)
 |-- reason: string (nullable = true)
 |-- guardian: string (nullable = true)
 |-- traveltime: integer (nullable = true)
 |-- studytime: integer (nullable = true)
 |-- failures: integer (nullable = true)
 |-- schoolsup: string (nullable = true)
 |-- famsup: string (nullable = true)
 |-- paid: string (nullable = true)
 |-- activities: string (nullable = true)
 |-- nursery: string (nullable = true)
 |-- higher: string (nullable = true)
 |-- internet: string (nullable = true)
 |-- romantic: string (nullable = true)
 |-- famrel: integer (nullable = true)
 |-- freetime: integer (nullable = true)
 |-- goout: integer (nullable = true)
 |-- Dalc: integer (nullable = true)
 |-- Walc: integer (nullable = true)
 |-- health: integer (nullable = true)
 |-- absences: integer (nullable = true)
 |-- G1: integer (nullable = true)
 |-- G2: integer (nullable = true)
 |-- G3: integer (nullable = true)

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       4|  0| 11| 11|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       2|  9| 11| 11|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       0|      yes|    no|  no|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|       6| 12| 13| 12|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       0| 14| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes|  no|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       0| 11| 13| 13|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|       6| 12| 12| 13|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 13| 12| 13|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       2| 10| 13| 13|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 15| 16| 17|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 12| 12| 13|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       2| 14| 14| 14|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       0| 10| 12| 13|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       0| 12| 13| 12|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       0| 12| 12| 13|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 14| 15|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       6| 17| 17| 17|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|      10| 13| 13| 14|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       2| 13| 14| 14|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|       2|  8|  8|  7|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no|  no|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       6| 12| 12| 12|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 20 rows

                0                   1                   2        3           4
summary     count                mean              stddev      min         max
school        649                None                None       GP          MS
sex           649                None                None        F           M
age           649    16.7442218798151  1.2181376394800634       15          22
address       649                None                None        R           U
famsize       649                None                None      GT3         LE3
Pstatus       649                None                None        A           T
Medu          649   2.514637904468413  1.1345519999533167        0           4
Fedu          649  2.3066255778120186  1.0999309111408038        0           4
Mjob          649                None                None  at_home     teacher
Fjob          649                None                None  at_home     teacher
reason        649                None                None   course  reputation
guardian      649                None                None   father       other
traveltime    649   1.568567026194145  0.7486600863534165        1           4
studytime     649  1.9306625577812018  0.8295095746366149        1           4
failures      649  0.2218798151001541  0.5932351492649628        0           3
schoolsup     649                None                None       no         yes
famsup        649                None                None       no         yes
paid          649                None                None       no         yes
activities    649                None                None       no         yes
nursery       649                None                None       no         yes
higher        649                None                None       no         yes
internet      649                None                None       no         yes
romantic      649                None                None       no         yes
famrel        649   3.930662557781202  0.9557168913381862        1           5
freetime      649   3.180277349768875  1.0510925753570628        1           5
goout         649   3.184899845916795  1.1757661138423128        1           5
Dalc          649    1.50231124807396  0.9248344305673262        1           5
Walc          649   2.280431432973806   1.284379971949024        1           5
health        649   3.536209553158706  1.4462590500910695        1           5
absences      649  3.6594761171032357   4.640758808397153        0          32
G1            649  11.399075500770415  2.7452651284463707        0          19
G2            649  11.570107858243452   2.913638664303866        0          19
G3            649  11.906009244992296   3.230656242804805        0          19

In [4]:
#merged = mat.append(port)
#print(merged.shape)
mergedspark = matdf.union(portdf)

print(mergedspark.head(5))
mergedspark.describe()
print("Total rows:", mergedspark.count())
mergedspark.printSchema()

[Row(school='GP', sex='F', age=18, address='U', famsize='GT3', Pstatus='A', Medu=4, Fedu=4, Mjob='at_home', Fjob='teacher', reason='course', guardian='mother', traveltime=2, studytime=2, failures=0, schoolsup='yes', famsup='no', paid='no', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=4, freetime=3, goout=4, Dalc=1, Walc=1, health=3, absences=6, G1=5, G2=6, G3=6), Row(school='GP', sex='F', age=17, address='U', famsize='GT3', Pstatus='T', Medu=1, Fedu=1, Mjob='at_home', Fjob='other', reason='course', guardian='father', traveltime=1, studytime=2, failures=0, schoolsup='no', famsup='yes', paid='no', activities='no', nursery='no', higher='yes', internet='yes', romantic='no', famrel=5, freetime=3, goout=3, Dalc=1, Walc=1, health=3, absences=4, G1=5, G2=5, G3=6), Row(school='GP', sex='F', age=15, address='U', famsize='LE3', Pstatus='T', Medu=1, Fedu=1, Mjob='at_home', Fjob='other', reason='other', guardian='mother', traveltime=1, studytime=2, failures=3, schoolsup='yes', famsup='no', paid='yes', activities='no', nursery='yes', higher='yes', internet='yes', romantic='no', famrel=4, freetime=3, goout=2, Dalc=2, Walc=3, health=3, absences=10, G1=7, G2=8, G3=10), Row(school='GP', sex='F', age=15, address='U', famsize='GT3', Pstatus='T', Medu=4, Fedu=2, Mjob='health', Fjob='services', reason='home', guardian='mother', traveltime=1, studytime=3, failures=0, schoolsup='no', famsup='yes', paid='yes', activities='yes', nursery='yes', higher='yes', internet='yes', romantic='yes', famrel=3, freetime=2, goout=2, Dalc=1, Walc=1, health=5, absences=2, G1=15, G2=14, G3=15), Row(school='GP', sex='F', age=16, address='U', famsize='GT3', Pstatus='T', Medu=3, Fedu=3, Mjob='other', Fjob='other', reason='home', guardian='father', traveltime=1, studytime=2, failures=0, schoolsup='no', famsup='yes', paid='yes', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=4, freetime=3, goout=2, Dalc=1, Walc=2, health=5, absences=4, G1=6, G2=10, G3=10)]
Total rows: 1044
root
 |-- school: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- famsize: string (nullable = true)
 |-- Pstatus: string (nullable = true)
 |-- Medu: integer (nullable = true)
 |-- Fedu: integer (nullable = true)
 |-- Mjob: string (nullable = true)
 |-- Fjob: string (nullable = true)
 |-- reason: string (nullable = true)
 |-- guardian: string (nullable = true)
 |-- traveltime: integer (nullable = true)
 |-- studytime: integer (nullable = true)
 |-- failures: integer (nullable = true)
 |-- schoolsup: string (nullable = true)
 |-- famsup: string (nullable = true)
 |-- paid: string (nullable = true)
 |-- activities: string (nullable = true)
 |-- nursery: string (nullable = true)
 |-- higher: string (nullable = true)
 |-- internet: string (nullable = true)
 |-- romantic: string (nullable = true)
 |-- famrel: integer (nullable = true)
 |-- freetime: integer (nullable = true)
 |-- goout: integer (nullable = true)
 |-- Dalc: integer (nullable = true)
 |-- Walc: integer (nullable = true)
 |-- health: integer (nullable = true)
 |-- absences: integer (nullable = true)
 |-- G1: integer (nullable = true)
 |-- G2: integer (nullable = true)
 |-- G3: integer (nullable = true)

In [5]:

#merged['Result'] = np.where(merged['G3'] >= 10, 'Pass', 'Fail')
#print(merged.head(10))


#mergedspark['Result'] = mergedspark.filter(mergedspark['G3'] >= 10, 'Pass', 'Fail')
#mergedspark['Result']= (mergedspark.filter(mergedspark.G3 > 10),'Pass', 'Fail')
#mergedspark.filter(mergedspark.G3 > 10).collect()
from pyspark.sql.functions import udf

def passorfail(G3):
    if G3 >= 10:
        return 'Pass'
    else:
        return 'Fail'

check = udf(passorfail)
mergedspark_new = mergedspark.withColumn("Results",check("G3"))
mergedspark_new.show(n=10)

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|Results|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|   Fail|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|   Fail|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|   Pass|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|   Pass|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|   Pass|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|   Pass|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|   Pass|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|   Fail|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|   Pass|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|   Pass|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------+
only showing top 10 rows

In [44]:
mergedpd = mergedspark_new.toPandas() 

#Check for missing values
print(mergedpd.isnull().sum())

#Check for outliers within age. extreme value analysis, get rid of all outliers that are more than 3 standard deviations
import numpy as np
from scipy import stats
mergedpd['age z score'] = np.abs(stats.zscore(mergedpd['age']))
threshold = 3
mergedpd['age z score'] = mergedpd['age z score'].astype(float)
print(len(mergedpd))

#new dataframe getting rid of outliers
mergedpd_cleaned = mergedpd[mergedpd['age z score'] < 3]
print(len(mergedpd_cleaned))


#mergedcleaned = mergedpd.drop(mergedpd.index[[247,392,674]])
#print(mergedcleaned.size)

#Check for outliers within absences
#y = np.abs(stats.zscore(matcleaned['absences']))

#threshold = 3
#print(np.where(y > 3))

#matcleaned = matcleaned.drop(matcleaned.index[[74, 183, 276, 280, 307, 315]])
#print(matcleaned.size)

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
Results       0
dtype: int64
1044
1039
     0    1    2    3    4
0  247  392  674  802  808
0    247
Name: 0, dtype: int64

In [118]:
#Convert categorical variables to one hot encoding, keep numerical vars as is
matcleaned = pd.get_dummies(matcleaned)
matcleaned.info()

#Binary categorical variables can be encoding using only 1 var, so let's delete the other var
redundant_vars = [
    'school_MS',
    'sex_M',
    'address_U',
    'famsize_LE3',
    'Pstatus_T',
    'schoolsup_no',
    'famsup_no',
    'paid_no',
    'activities_no',
    'nursery_no',
    'higher_no',
    'internet_no',
    'romantic_no'
]
matcleaned.drop(redundant_vars, axis=1, inplace=True)
matcleaned.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 394
Data columns (total 60 columns):
age                  387 non-null int64
Medu                 387 non-null int64
Fedu                 387 non-null int64
traveltime           387 non-null int64
studytime            387 non-null int64
failures             387 non-null int64
famrel               387 non-null int64
freetime             387 non-null int64
goout                387 non-null int64
Dalc                 387 non-null int64
Walc                 387 non-null int64
health               387 non-null int64
absences             387 non-null int64
G1                   387 non-null int64
G2                   387 non-null int64
G3                   387 non-null int64
age z score          387 non-null float64
school_GP            387 non-null uint8
school_MS            387 non-null uint8
sex_F                387 non-null uint8
sex_M                387 non-null uint8
address_R            387 non-null uint8
address_U            387 non-null uint8
famsize_GT3          387 non-null uint8
famsize_LE3          387 non-null uint8
Pstatus_A            387 non-null uint8
Pstatus_T            387 non-null uint8
Mjob_at_home         387 non-null uint8
Mjob_health          387 non-null uint8
Mjob_other           387 non-null uint8
Mjob_services        387 non-null uint8
Mjob_teacher         387 non-null uint8
Fjob_at_home         387 non-null uint8
Fjob_health          387 non-null uint8
Fjob_other           387 non-null uint8
Fjob_services        387 non-null uint8
Fjob_teacher         387 non-null uint8
reason_course        387 non-null uint8
reason_home          387 non-null uint8
reason_other         387 non-null uint8
reason_reputation    387 non-null uint8
guardian_father      387 non-null uint8
guardian_mother      387 non-null uint8
guardian_other       387 non-null uint8
schoolsup_no         387 non-null uint8
schoolsup_yes        387 non-null uint8
famsup_no            387 non-null uint8
famsup_yes           387 non-null uint8
paid_no              387 non-null uint8
paid_yes             387 non-null uint8
activities_no        387 non-null uint8
activities_yes       387 non-null uint8
nursery_no           387 non-null uint8
nursery_yes          387 non-null uint8
higher_no            387 non-null uint8
higher_yes           387 non-null uint8
internet_no          387 non-null uint8
internet_yes         387 non-null uint8
romantic_no          387 non-null uint8
romantic_yes         387 non-null uint8
dtypes: float64(1), int64(16), uint8(43)
memory usage: 70.7 KB

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_mother,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,1,0,0,0,1,1,0,0
1,17,1,1,1,2,0,5,3,3,1,...,0,0,0,1,0,0,0,1,1,0
2,15,1,1,1,2,3,4,3,2,2,...,1,0,1,0,1,0,1,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,1,0,0,1,1,1,1,1,1,1
4,16,3,3,1,2,0,4,3,2,1,...,0,0,0,1,1,0,1,1,0,0

In [7]:
#Correlations for success
corr = matcleaned.corr()
corr_G3 = matcleaned.corr()['G3']
corr_G3.sort_values()

NameError: name 'matcleaned' is not defined