In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
mat = pd.read_csv('student-mat.csv', sep = ';')
print(mat.head(10))
print(mat.shape)

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1   at_home     other ...
2     GP   F   15       U     LE3       T     1     1   at_home     other ...
3     GP   F   15       U     GT3       T     4     2    health  services ...
4     GP   F   16       U     GT3       T     3     3     other     other ...
5     GP   M   16       U     LE3       T     4     3  services     other ...
6     GP   M   16       U     LE3       T     2     2     other     other ...
7     GP   F   17       U     GT3       A     4     4     other   teacher ...
8     GP   M   15       U     LE3       A     3     2  services     other ...
9     GP   M   15       U     GT3       T     3     4     other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10
5      5        4      2     1     2      5       10  15  15  15
6      4        4      4     1     1      3        0  12  12  11
7      4        1      4     1     1      1        6   6   5   6
8      4        2      2     1     1      1        0  16  18  19
9      5        5      1     1     1      5        0  14  15  15

[10 rows x 33 columns]
(395, 33)

In [4]:
port = pd.read_csv('student-por.csv', sep = ';')
print(port.head(10))
print(port.shape)

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1   at_home     other ...
2     GP   F   15       U     LE3       T     1     1   at_home     other ...
3     GP   F   15       U     GT3       T     4     2    health  services ...
4     GP   F   16       U     GT3       T     3     3     other     other ...
5     GP   M   16       U     LE3       T     4     3  services     other ...
6     GP   M   16       U     LE3       T     2     2     other     other ...
7     GP   F   17       U     GT3       A     4     4     other   teacher ...
8     GP   M   15       U     LE3       A     3     2  services     other ...
9     GP   M   15       U     GT3       T     3     4     other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        4   0  11  11
1      5        3      3     1     1      3        2   9  11  11
2      4        3      2     2     3      3        6  12  13  12
3      3        2      2     1     1      5        0  14  14  14
4      4        3      2     1     2      5        0  11  13  13
5      5        4      2     1     2      5        6  12  12  13
6      4        4      4     1     1      3        0  13  12  13
7      4        1      4     1     1      1        2  10  13  13
8      4        2      2     1     1      1        0  15  16  17
9      5        5      1     1     1      5        0  12  12  13

[10 rows x 33 columns]
(649, 33)

In [5]:
merged = mat.append(port)
print(merged.shape)

(1044, 33)

In [6]:

merged['Result'] = np.where(merged['G3'] >= 10, 'Pass', 'Fail')
print(merged.head(10))

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher
1     GP   F   17       U     GT3       T     1     1   at_home     other
2     GP   F   15       U     LE3       T     1     1   at_home     other
3     GP   F   15       U     GT3       T     4     2    health  services
4     GP   F   16       U     GT3       T     3     3     other     other
5     GP   M   16       U     LE3       T     4     3  services     other
6     GP   M   16       U     LE3       T     2     2     other     other
7     GP   F   17       U     GT3       A     4     4     other   teacher
8     GP   M   15       U     LE3       A     3     2  services     other
9     GP   M   15       U     GT3       T     3     4     other     other

   ...   freetime goout  Dalc  Walc  health absences  G1  G2  G3 Result
0  ...          3     4     1     1       3        6   5   6   6   Fail
1  ...          3     3     1     1       3        4   5   5   6   Fail
2  ...          3     2     2     3       3       10   7   8  10   Pass
3  ...          2     2     1     1       5        2  15  14  15   Pass
4  ...          3     2     1     2       5        4   6  10  10   Pass
5  ...          4     2     1     2       5       10  15  15  15   Pass
6  ...          4     4     1     1       3        0  12  12  11   Pass
7  ...          1     4     1     1       1        6   6   5   6   Fail
8  ...          2     2     1     1       1        0  16  18  19   Pass
9  ...          5     1     1     1       5        0  14  15  15   Pass

[10 rows x 34 columns]

In [23]:
#Check for outliers
mat.isnull().sum()
port.isnull().sum()
z = np.abs(stats.zscore(mat['absences']))


#print(z)
threshold = 1.96
print(np.where(z > 1.96))

(array([ 40,  74, 103, 183, 198, 205, 216, 276, 277, 280, 307, 313, 315,
       320]),)

In [19]:
#mat.info() 
mat.select_dtypes(include=[np.int64])
#print(dftype.head(10))

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18,4,4,2,2,0,4,3,4,1,1,3,6,5,6,6
1,17,1,1,1,2,0,5,3,3,1,1,3,4,5,5,6
2,15,1,1,1,2,3,4,3,2,2,3,3,10,7,8,10
3,15,4,2,1,3,0,3,2,2,1,1,5,2,15,14,15
4,16,3,3,1,2,0,4,3,2,1,2,5,4,6,10,10
5,16,4,3,1,2,0,5,4,2,1,2,5,10,15,15,15
6,16,2,2,1,2,0,4,4,4,1,1,3,0,12,12,11
7,17,4,4,2,2,0,4,1,4,1,1,1,6,6,5,6
8,15,3,2,1,2,0,4,2,2,1,1,1,0,16,18,19
9,15,3,4,1,2,0,5,5,1,1,1,5,0,14,15,15
10,15,4,4,1,2,0,3,3,3,1,2,2,0,10,8,9
11,15,2,1,3,3,0,5,2,2,1,1,4,4,10,12,12
12,15,4,4,1,1,0,4,3,3,1,3,5,2,14,14,14
13,15,4,3,2,2,0,5,4,3,1,2,3,2,10,10,11
14,15,2,2,1,3,0,4,5,2,1,1,3,0,14,16,16
15,16,4,4,1,1,0,4,4,4,1,2,2,4,14,14,14
16,16,4,4,1,3,0,3,2,3,1,2,2,6,13,14,14
17,16,3,3,3,2,0,5,3,2,1,1,4,4,8,10,10
18,17,3,2,1,1,3,5,5,5,2,4,5,16,6,5,5
19,16,4,3,1,1,0,3,1,3,1,3,5,4,8,10,10
20,15,4,3,1,2,0,4,4,1,1,1,1,0,13,14,15
21,15,4,4,1,1,0,5,4,2,1,1,5,0,12,15,15
22,16,4,2,1,2,0,4,5,1,1,3,5,2,15,15,16
23,16,2,2,2,2,0,5,4,4,2,4,5,0,13,13,12
24,15,2,4,1,3,0,4,3,2,1,1,5,2,10,9,8
25,16,2,2,1,1,2,1,2,2,1,3,5,14,6,9,8
26,15,2,2,1,1,0,4,2,2,1,2,5,2,12,12,11
27,15,4,2,1,1,0,2,2,4,2,4,1,4,15,16,15
28,16,3,4,1,2,0,5,3,3,1,1,5,4,11,11,11
29,16,4,4,1,2,0,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,18,1,3,2,2,0,3,3,4,2,4,3,4,10,10,10
366,18,4,4,2,3,0,4,2,2,2,2,5,0,13,13,13
367,17,1,1,3,1,1,5,2,1,1,2,1,0,7,6,0
368,18,2,3,2,1,0,5,2,3,1,2,4,0,11,10,10
369,18,4,4,3,2,0,3,2,2,4,2,5,10,14,12,11
370,19,3,2,2,2,2,3,2,2,1,1,3,4,7,7,9
371,18,1,2,3,1,0,4,3,3,2,3,3,3,14,12,12
372,17,2,2,1,3,0,3,4,3,1,1,3,8,13,11,11
373,17,1,2,1,1,0,3,5,5,1,3,1,14,6,5,5
374,18,4,4,2,3,0,5,4,4,1,1,1,0,19,18,19
375,18,1,1,4,3,0,4,3,2,1,2,4,2,8,8,10
376,20,4,2,2,3,2,5,4,3,1,1,3,4,15,14,15
377,18,4,4,1,2,0,5,4,3,3,4,2,4,8,9,10
378,18,3,3,1,2,0,4,1,3,1,2,1,0,15,15,15
379,17,3,1,1,2,0,4,5,4,2,3,1,17,10,10,10
380,18,4,4,1,2,0,3,2,4,1,4,2,4,15,14,14
381,18,2,1,2,1,0,4,4,3,1,3,5,5,7,6,7
382,17,2,3,2,2,0,4,4,3,1,1,3,2,11,11,10
383,19,1,1,2,1,1,4,3,2,1,3,5,0,6,5,0
384,18,4,2,2,1,1,5,4,3,4,3,3,14,6,5,5
385,18,2,2,2,3,0,5,3,3,1,3,4,2,10,9,10
386,18,4,4,3,1,0,4,4,3,2,2,5,7,6,5,6
387,19,2,3,1,3,1,5,4,2,1,2,5,0,7,5,0
388,18,3,1,1,2,0,4,3,4,1,1,1,0,7,9,8
389,18,1,1,2,2,1,1,1,1,1,1,5,0,6,5,0
390,20,2,2,1,2,2,5,5,4,4,5,4,11,9,9,9
391,17,3,1,2,1,0,2,4,5,3,4,2,3,14,16,16
392,21,1,1,1,1,3,5,5,3,3,3,3,3,10,8,7
393,18,3,2,3,1,0,4,4,1,3,4,5,0,11,12,10
394,19,1,1,1,1,0,3,2,3,3,3,5,5,8,9,9