In [58]:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats

#import findspark
#findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
#import pyspark
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.appName('dataManipulation').getOrCreate()

In [59]:
mat = pd.read_csv('student-mat.csv', sep = ';')
print(mat.head(10))
print(mat.shape)


#matdf = spark.read.csv('student-mat.csv',sep = ';', header=True,inferSchema=True)

#Here's the first row of the data.
#print(matdf.head())

# And the entire data structure. 
#matdf.printSchema()

#matdf.show()

#Data description
#matdf.describe().toPandas().transpose()

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1   at_home     other ...
2     GP   F   15       U     LE3       T     1     1   at_home     other ...
3     GP   F   15       U     GT3       T     4     2    health  services ...
4     GP   F   16       U     GT3       T     3     3     other     other ...
5     GP   M   16       U     LE3       T     4     3  services     other ...
6     GP   M   16       U     LE3       T     2     2     other     other ...
7     GP   F   17       U     GT3       A     4     4     other   teacher ...
8     GP   M   15       U     LE3       A     3     2  services     other ...
9     GP   M   15       U     GT3       T     3     4     other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10
5      5        4      2     1     2      5       10  15  15  15
6      4        4      4     1     1      3        0  12  12  11
7      4        1      4     1     1      1        6   6   5   6
8      4        2      2     1     1      1        0  16  18  19
9      5        5      1     1     1      5        0  14  15  15

[10 rows x 33 columns]
(395, 33)

In [60]:
port = pd.read_csv('student-por.csv', sep = ';')
print(port.head(10))
print(port.shape)
#portdf = spark.read.csv('student-por.csv',sep = ';', header=True,inferSchema=True)

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1   at_home     other ...
2     GP   F   15       U     LE3       T     1     1   at_home     other ...
3     GP   F   15       U     GT3       T     4     2    health  services ...
4     GP   F   16       U     GT3       T     3     3     other     other ...
5     GP   M   16       U     LE3       T     4     3  services     other ...
6     GP   M   16       U     LE3       T     2     2     other     other ...
7     GP   F   17       U     GT3       A     4     4     other   teacher ...
8     GP   M   15       U     LE3       A     3     2  services     other ...
9     GP   M   15       U     GT3       T     3     4     other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        4   0  11  11
1      5        3      3     1     1      3        2   9  11  11
2      4        3      2     2     3      3        6  12  13  12
3      3        2      2     1     1      5        0  14  14  14
4      4        3      2     1     2      5        0  11  13  13
5      5        4      2     1     2      5        6  12  12  13
6      4        4      4     1     1      3        0  13  12  13
7      4        1      4     1     1      1        2  10  13  13
8      4        2      2     1     1      1        0  15  16  17
9      5        5      1     1     1      5        0  12  12  13

[10 rows x 33 columns]
(649, 33)

In [61]:
merged = mat.append(port)
print(merged.shape)
#mergedspark = matdf.union(portdf)
#display(mergedspark)
#print(mergedspark.head(5))

(1044, 33)

In [62]:

merged['Result'] = np.where(merged['G3'] >= 10, 'Pass', 'Fail')
print(merged.head(10))


#mergedspark['Result'] = np.where(mergedspark['G3'] >= 10, 'Pass', 'Fail')

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher
1     GP   F   17       U     GT3       T     1     1   at_home     other
2     GP   F   15       U     LE3       T     1     1   at_home     other
3     GP   F   15       U     GT3       T     4     2    health  services
4     GP   F   16       U     GT3       T     3     3     other     other
5     GP   M   16       U     LE3       T     4     3  services     other
6     GP   M   16       U     LE3       T     2     2     other     other
7     GP   F   17       U     GT3       A     4     4     other   teacher
8     GP   M   15       U     LE3       A     3     2  services     other
9     GP   M   15       U     GT3       T     3     4     other     other

   ...   freetime goout  Dalc  Walc  health absences  G1  G2  G3 Result
0  ...          3     4     1     1       3        6   5   6   6   Fail
1  ...          3     3     1     1       3        4   5   5   6   Fail
2  ...          3     2     2     3       3       10   7   8  10   Pass
3  ...          2     2     1     1       5        2  15  14  15   Pass
4  ...          3     2     1     2       5        4   6  10  10   Pass
5  ...          4     2     1     2       5       10  15  15  15   Pass
6  ...          4     4     1     1       3        0  12  12  11   Pass
7  ...          1     4     1     1       1        6   6   5   6   Fail
8  ...          2     2     1     1       1        0  16  18  19   Pass
9  ...          5     1     1     1       5        0  14  15  15   Pass

[10 rows x 34 columns]

In [96]:
#Check for missing values
print(mat.isnull().sum())
print(port.isnull().sum())

#Check for outliers within age

mat['age z score'] = np.abs(stats.zscore(mat['age']))
threshold = 3
mat['age z score'] = mat['age z score'].astype(float)
print (mat)
print(mat.size)
print(mat.dtypes)

#print position in array where zscore is over 3
print(np.where(mat['age z score'] > 3))

#print z scores of those above 3
print (mat.at[247, 'age'])
print (mat.at[392, 'age'])


#save new dataframe without outlier values
matcleaned = []
#matcleaned = np.drop(mat['age z score'],[247, 392])
#matcleaned = pd.DataFrame(np.delete(mat, (247,392), axis=0))
matcleaned = mat.drop(mat.index[[247,392]])






print(matcleaned.size)
print(mat.size)

#Check for outliers within absences
y = np.abs(stats.zscore(mat['absences']))

threshold = 3
print(np.where(y > 3))

school         0
sex            0
age            0
address        0
famsize        0
Pstatus        0
Medu           0
Fedu           0
Mjob           0
Fjob           0
reason         0
guardian       0
traveltime     0
studytime      0
failures       0
schoolsup      0
famsup         0
paid           0
activities     0
nursery        0
higher         0
internet       0
romantic       0
famrel         0
freetime       0
goout          0
Dalc           0
Walc           0
health         0
absences       0
G1             0
G2             0
G3             0
age z score    0
dtype: int64
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
5       GP   M   16       U     LE3       T     4     3  services     other
6       GP   M   16       U     LE3       T     2     2     other     other
7       GP   F   17       U     GT3       A     4     4     other   teacher
8       GP   M   15       U     LE3       A     3     2  services     other
9       GP   M   15       U     GT3       T     3     4     other     other
10      GP   F   15       U     GT3       T     4     4   teacher    health
11      GP   F   15       U     GT3       T     2     1  services     other
12      GP   M   15       U     LE3       T     4     4    health  services
13      GP   M   15       U     GT3       T     4     3   teacher     other
14      GP   M   15       U     GT3       A     2     2     other     other
15      GP   F   16       U     GT3       T     4     4    health     other
16      GP   F   16       U     GT3       T     4     4  services  services
17      GP   F   16       U     GT3       T     3     3     other     other
18      GP   M   17       U     GT3       T     3     2  services  services
19      GP   M   16       U     LE3       T     4     3    health     other
20      GP   M   15       U     GT3       T     4     3   teacher     other
21      GP   M   15       U     GT3       T     4     4    health    health
22      GP   M   16       U     LE3       T     4     2   teacher     other
23      GP   M   16       U     LE3       T     2     2     other     other
24      GP   F   15       R     GT3       T     2     4  services    health
25      GP   F   16       U     GT3       T     2     2  services  services
26      GP   M   15       U     GT3       T     2     2     other     other
27      GP   M   15       U     GT3       T     4     2    health  services
28      GP   M   16       U     LE3       A     3     4  services     other
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
365     MS   M   18       R     GT3       T     1     3   at_home     other
366     MS   M   18       U     LE3       T     4     4   teacher  services
367     MS   F   17       R     GT3       T     1     1     other  services
368     MS   F   18       U     GT3       T     2     3   at_home  services
369     MS   F   18       R     GT3       T     4     4     other   teacher
370     MS   F   19       U     LE3       T     3     2  services  services
371     MS   M   18       R     LE3       T     1     2   at_home  services
372     MS   F   17       U     GT3       T     2     2     other   at_home
373     MS   F   17       R     GT3       T     1     2     other     other
374     MS   F   18       R     LE3       T     4     4     other     other
375     MS   F   18       R     GT3       T     1     1     other     other
376     MS   F   20       U     GT3       T     4     2    health     other
377     MS   F   18       R     LE3       T     4     4   teacher  services
378     MS   F   18       U     GT3       T     3     3     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
380     MS   M   18       U     GT3       T     4     4   teacher   teacher
381     MS   M   18       R     GT3       T     2     1     other     other
382     MS   M   17       U     GT3       T     2     3     other  services
383     MS   M   19       R     GT3       T     1     1     other  services
384     MS   M   18       R     GT3       T     4     2     other     other
385     MS   F   18       R     GT3       T     2     2   at_home     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
388     MS   F   18       U     LE3       T     3     1   teacher  services
389     MS   F   18       U     GT3       T     1     1     other     other
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

        ...     freetime goout  Dalc  Walc  health absences  G1  G2  G3  \
0       ...            3     4     1     1       3        6   5   6   6
1       ...            3     3     1     1       3        4   5   5   6
2       ...            3     2     2     3       3       10   7   8  10
3       ...            2     2     1     1       5        2  15  14  15
4       ...            3     2     1     2       5        4   6  10  10
5       ...            4     2     1     2       5       10  15  15  15
6       ...            4     4     1     1       3        0  12  12  11
7       ...            1     4     1     1       1        6   6   5   6
8       ...            2     2     1     1       1        0  16  18  19
9       ...            5     1     1     1       5        0  14  15  15
10      ...            3     3     1     2       2        0  10   8   9
11      ...            2     2     1     1       4        4  10  12  12
12      ...            3     3     1     3       5        2  14  14  14
13      ...            4     3     1     2       3        2  10  10  11
14      ...            5     2     1     1       3        0  14  16  16
15      ...            4     4     1     2       2        4  14  14  14
16      ...            2     3     1     2       2        6  13  14  14
17      ...            3     2     1     1       4        4   8  10  10
18      ...            5     5     2     4       5       16   6   5   5
19      ...            1     3     1     3       5        4   8  10  10
20      ...            4     1     1     1       1        0  13  14  15
21      ...            4     2     1     1       5        0  12  15  15
22      ...            5     1     1     3       5        2  15  15  16
23      ...            4     4     2     4       5        0  13  13  12
24      ...            3     2     1     1       5        2  10   9   8
25      ...            2     2     1     3       5       14   6   9   8
26      ...            2     2     1     2       5        2  12  12  11
27      ...            2     4     2     4       1        4  15  16  15
28      ...            3     3     1     1       5        4  11  11  11
29      ...            4     5     5     5       5       16  10  12  11
..      ...          ...   ...   ...   ...     ...      ...  ..  ..  ..
365     ...            3     4     2     4       3        4  10  10  10
366     ...            2     2     2     2       5        0  13  13  13
367     ...            2     1     1     2       1        0   7   6   0
368     ...            2     3     1     2       4        0  11  10  10
369     ...            2     2     4     2       5       10  14  12  11
370     ...            2     2     1     1       3        4   7   7   9
371     ...            3     3     2     3       3        3  14  12  12
372     ...            4     3     1     1       3        8  13  11  11
373     ...            5     5     1     3       1       14   6   5   5
374     ...            4     4     1     1       1        0  19  18  19
375     ...            3     2     1     2       4        2   8   8  10
376     ...            4     3     1     1       3        4  15  14  15
377     ...            4     3     3     4       2        4   8   9  10
378     ...            1     3     1     2       1        0  15  15  15
379     ...            5     4     2     3       1       17  10  10  10
380     ...            2     4     1     4       2        4  15  14  14
381     ...            4     3     1     3       5        5   7   6   7
382     ...            4     3     1     1       3        2  11  11  10
383     ...            3     2     1     3       5        0   6   5   0
384     ...            4     3     4     3       3       14   6   5   5
385     ...            3     3     1     3       4        2  10   9  10
386     ...            4     3     2     2       5        7   6   5   6
387     ...            4     2     1     2       5        0   7   5   0
388     ...            3     4     1     1       1        0   7   9   8
389     ...            1     1     1     1       5        0   6   5   0
390     ...            5     4     4     5       4       11   9   9   9
391     ...            4     5     3     4       2        3  14  16  16
392     ...            5     3     3     3       3        3  10   8   7
393     ...            4     1     3     4       5        0  11  12  10
394     ...            2     3     3     3       5        5   8   9   9

    age z score
0      1.023046
1      0.238380
2      1.330954
3      1.330954
4      0.546287
5      0.546287
6      0.546287
7      0.238380
8      1.330954
9      1.330954
10     1.330954
11     1.330954
12     1.330954
13     1.330954
14     1.330954
15     0.546287
16     0.546287
17     0.546287
18     0.238380
19     0.546287
20     1.330954
21     1.330954
22     0.546287
23     0.546287
24     1.330954
25     0.546287
26     1.330954
27     1.330954
28     0.546287
29     0.546287
..          ...
365    1.023046
366    1.023046
367    0.238380
368    1.023046
369    1.023046
370    1.807713
371    1.023046
372    0.238380
373    0.238380
374    1.023046
375    1.023046
376    2.592380
377    1.023046
378    1.023046
379    0.238380
380    1.023046
381    1.023046
382    0.238380
383    1.807713
384    1.023046
385    1.023046
386    1.023046
387    1.807713
388    1.023046
389    1.023046
390    2.592380
391    0.238380
392    3.377047
393    1.023046
394    1.807713

[395 rows x 34 columns]
13430
school          object
sex             object
age              int64
address         object
famsize         object
Pstatus         object
Medu             int64
Fedu             int64
Mjob            object
Fjob            object
reason          object
guardian        object
traveltime       int64
studytime        int64
failures         int64
schoolsup       object
famsup          object
paid            object
activities      object
nursery         object
higher          object
internet        object
romantic        object
famrel           int64
freetime         int64
goout            int64
Dalc             int64
Walc             int64
health           int64
absences         int64
G1               int64
G2               int64
G3               int64
age z score    float64
dtype: object
(array([247, 392]),)
[247 392]
22
21
13362
13430
(array([ 74, 183, 276, 280, 307, 315]),)

   age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  goout  \
0   18     4     4           2          2         0       4         3      4
1   17     1     1           1          2         0       5         3      3
2   15     1     1           1          2         3       4         3      2
3   15     4     2           1          3         0       3         2      2
4   16     3     3           1          2         0       4         3      2
5   16     4     3           1          2         0       5         4      2
6   16     2     2           1          2         0       4         4      4
7   17     4     4           2          2         0       4         1      4
8   15     3     2           1          2         0       4         2      2
9   15     3     4           1          2         0       5         5      1

   Dalc  Walc  health  absences  G1  G2  G3
0     1     1       3         6   5   6   6
1     1     1       3         4   5   5   6
2     2     3       3        10   7   8  10
3     1     1       5         2  15  14  15
4     1     2       5         4   6  10  10
5     1     2       5        10  15  15  15
6     1     1       3         0  12  12  11
7     1     1       1         6   6   5   6
8     1     1       1         0  16  18  19
9     1     1       5         0  14  15  15