In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats

#import findspark
#findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
#import pyspark
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.appName('dataManipulation').getOrCreate()

In [ ]:
mat = pd.read_csv('student-mat.csv', sep = ';')
print(mat.head(10))
print(mat.shape)


#matdf = spark.read.csv('student-mat.csv',sep = ';', header=True,inferSchema=True)

#Here's the first row of the data.
#print(matdf.head())

# And the entire data structure. 
#matdf.printSchema()

#matdf.show()

#Data description
#matdf.describe().toPandas().transpose()

In [ ]:
port = pd.read_csv('student-por.csv', sep = ';')
print(port.head(10))
print(port.shape)
#portdf = spark.read.csv('student-por.csv',sep = ';', header=True,inferSchema=True)

In [ ]:
merged = mat.append(port)
print(merged.shape)
#mergedspark = matdf.union(portdf)
#display(mergedspark)
#print(mergedspark.head(5))

In [ ]:

merged['Result'] = np.where(merged['G3'] >= 10, 'Pass', 'Fail')
print(merged.head(10))


#mergedspark['Result'] = np.where(mergedspark['G3'] >= 10, 'Pass', 'Fail')

In [ ]:
#Check for missing values
print(mat.isnull().sum())
print(port.isnull().sum())
print(merged.isnull().sum())

#Check for outliers within age

#mat['age z score'] = np.abs(stats.zscore(mat['age']))
#threshold = 3
#mat['age z score'] = mat['age z score'].astype(float)
#print (mat)
#print(mat.size)
#print(mat.dtypes)


merged['age z score'] = np.abs(stats.zscore(merged['age']))
threshold = 3
merged['age z score'] = merged['age z score'].astype(float)
print (merged)
print(merged.size)
print(merged.dtypes)




#print position in array where zscore is over 3
print(np.where(merged['age z score'] > 3))
#############pos = np.asarray(np.where(mat['age z score'] > 3))
#############print(pos)
#print z scores of those above 3
#print (mat.at[247, 'age'])
#print (mat.at[392, 'age'])


#save new dataframe without outlier values
#matcleaned = []
#matcleaned = mat.drop(mat.index[[247,392]])
#print(matcleaned.size)

#Check for outliers within absences
#y = np.abs(stats.zscore(matcleaned['absences']))

#threshold = 3
#print(np.where(y > 3))

#matcleaned = matcleaned.drop(matcleaned.index[[74, 183, 276, 280, 307, 315]])
#print(matcleaned.size)

In [118]:
#Convert categorical variables to one hot encoding, keep numerical vars as is
matcleaned = pd.get_dummies(matcleaned)
matcleaned.info()

#Binary categorical variables can be encoding using only 1 var, so let's delete the other var
redundant_vars = [
    'school_MS',
    'sex_M',
    'address_U',
    'famsize_LE3',
    'Pstatus_T',
    'schoolsup_no',
    'famsup_no',
    'paid_no',
    'activities_no',
    'nursery_no',
    'higher_no',
    'internet_no',
    'romantic_no'
]
matcleaned.drop(redundant_vars, axis=1, inplace=True)
matcleaned.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 394
Data columns (total 60 columns):
age                  387 non-null int64
Medu                 387 non-null int64
Fedu                 387 non-null int64
traveltime           387 non-null int64
studytime            387 non-null int64
failures             387 non-null int64
famrel               387 non-null int64
freetime             387 non-null int64
goout                387 non-null int64
Dalc                 387 non-null int64
Walc                 387 non-null int64
health               387 non-null int64
absences             387 non-null int64
G1                   387 non-null int64
G2                   387 non-null int64
G3                   387 non-null int64
age z score          387 non-null float64
school_GP            387 non-null uint8
school_MS            387 non-null uint8
sex_F                387 non-null uint8
sex_M                387 non-null uint8
address_R            387 non-null uint8
address_U            387 non-null uint8
famsize_GT3          387 non-null uint8
famsize_LE3          387 non-null uint8
Pstatus_A            387 non-null uint8
Pstatus_T            387 non-null uint8
Mjob_at_home         387 non-null uint8
Mjob_health          387 non-null uint8
Mjob_other           387 non-null uint8
Mjob_services        387 non-null uint8
Mjob_teacher         387 non-null uint8
Fjob_at_home         387 non-null uint8
Fjob_health          387 non-null uint8
Fjob_other           387 non-null uint8
Fjob_services        387 non-null uint8
Fjob_teacher         387 non-null uint8
reason_course        387 non-null uint8
reason_home          387 non-null uint8
reason_other         387 non-null uint8
reason_reputation    387 non-null uint8
guardian_father      387 non-null uint8
guardian_mother      387 non-null uint8
guardian_other       387 non-null uint8
schoolsup_no         387 non-null uint8
schoolsup_yes        387 non-null uint8
famsup_no            387 non-null uint8
famsup_yes           387 non-null uint8
paid_no              387 non-null uint8
paid_yes             387 non-null uint8
activities_no        387 non-null uint8
activities_yes       387 non-null uint8
nursery_no           387 non-null uint8
nursery_yes          387 non-null uint8
higher_no            387 non-null uint8
higher_yes           387 non-null uint8
internet_no          387 non-null uint8
internet_yes         387 non-null uint8
romantic_no          387 non-null uint8
romantic_yes         387 non-null uint8
dtypes: float64(1), int64(16), uint8(43)
memory usage: 70.7 KB

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_mother,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,1,0,0,0,1,1,0,0
1,17,1,1,1,2,0,5,3,3,1,...,0,0,0,1,0,0,0,1,1,0
2,15,1,1,1,2,3,4,3,2,2,...,1,0,1,0,1,0,1,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,1,0,0,1,1,1,1,1,1,1
4,16,3,3,1,2,0,4,3,2,1,...,0,0,0,1,1,0,1,1,0,0

In [119]:
#Correlations for success
corr = matcleaned.corr()
corr_G3 = matcleaned.corr()['G3']
corr_G3.sort_values()

failures            -0.369077
age                 -0.151734
romantic_yes        -0.135919
goout               -0.132208
Mjob_at_home        -0.121202
traveltime          -0.115841
address_R           -0.110880
sex_F               -0.102569
Mjob_other          -0.101805
reason_course       -0.092426
schoolsup_yes       -0.089282
guardian_other      -0.085842
health              -0.081387
famsize_GT3         -0.079797
Dalc                -0.049940
Walc                -0.048412
Fjob_other          -0.047597
famsup_yes          -0.038909
reason_home         -0.026580
age z score         -0.025596
Fjob_services       -0.020260
Fjob_at_home        -0.015916
freetime             0.012052
activities_yes       0.019555
guardian_father      0.025229
guardian_mother      0.027426
school_GP            0.043634
absences             0.046409
nursery_yes          0.049703
reason_other         0.054660
Fjob_health          0.055339
Pstatus_A            0.056473
Mjob_teacher         0.057840
famrel               0.063824
Mjob_services        0.090212
reason_reputation    0.092293
Fjob_teacher         0.093318
studytime            0.093713
internet_yes         0.102570
paid_yes             0.107072
Mjob_health          0.114046
Fedu                 0.143586
higher_yes           0.184676
Medu                 0.214496
G1                   0.803567
G2                   0.907191
G3                   1.000000
Name: G3, dtype: float64