In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats

#import findspark
#findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
#import pyspark
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.appName('dataManipulation').getOrCreate()

In [47]:
mat = pd.read_csv('student-mat.csv', sep = ';')
print(mat.head(10))
print(mat.shape)


#matdf = spark.read.csv('student-mat.csv',sep = ';', header=True,inferSchema=True)

#Here's the first row of the data.
#print(matdf.head())

# And the entire data structure. 
#matdf.printSchema()

#matdf.show()

#Data description
#matdf.describe().toPandas().transpose()

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1   at_home     other ...
2     GP   F   15       U     LE3       T     1     1   at_home     other ...
3     GP   F   15       U     GT3       T     4     2    health  services ...
4     GP   F   16       U     GT3       T     3     3     other     other ...
5     GP   M   16       U     LE3       T     4     3  services     other ...
6     GP   M   16       U     LE3       T     2     2     other     other ...
7     GP   F   17       U     GT3       A     4     4     other   teacher ...
8     GP   M   15       U     LE3       A     3     2  services     other ...
9     GP   M   15       U     GT3       T     3     4     other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10
5      5        4      2     1     2      5       10  15  15  15
6      4        4      4     1     1      3        0  12  12  11
7      4        1      4     1     1      1        6   6   5   6
8      4        2      2     1     1      1        0  16  18  19
9      5        5      1     1     1      5        0  14  15  15

[10 rows x 33 columns]
(395, 33)

15

In [3]:
port = pd.read_csv('student-por.csv', sep = ';')
print(port.head(10))
print(port.shape)
#portdf = spark.read.csv('student-por.csv',sep = ';', header=True,inferSchema=True)

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1   at_home     other ...
2     GP   F   15       U     LE3       T     1     1   at_home     other ...
3     GP   F   15       U     GT3       T     4     2    health  services ...
4     GP   F   16       U     GT3       T     3     3     other     other ...
5     GP   M   16       U     LE3       T     4     3  services     other ...
6     GP   M   16       U     LE3       T     2     2     other     other ...
7     GP   F   17       U     GT3       A     4     4     other   teacher ...
8     GP   M   15       U     LE3       A     3     2  services     other ...
9     GP   M   15       U     GT3       T     3     4     other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        4   0  11  11
1      5        3      3     1     1      3        2   9  11  11
2      4        3      2     2     3      3        6  12  13  12
3      3        2      2     1     1      5        0  14  14  14
4      4        3      2     1     2      5        0  11  13  13
5      5        4      2     1     2      5        6  12  12  13
6      4        4      4     1     1      3        0  13  12  13
7      4        1      4     1     1      1        2  10  13  13
8      4        2      2     1     1      1        0  15  16  17
9      5        5      1     1     1      5        0  12  12  13

[10 rows x 33 columns]
(649, 33)

In [4]:
merged = mat.append(port)
print(merged.shape)
#mergedspark = matdf.union(portdf)
#display(mergedspark)
#print(mergedspark.head(5))

(1044, 33)

In [5]:

merged['Result'] = np.where(merged['G3'] >= 10, 'Pass', 'Fail')
print(merged.head(10))


#mergedspark['Result'] = np.where(mergedspark['G3'] >= 10, 'Pass', 'Fail')

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher
1     GP   F   17       U     GT3       T     1     1   at_home     other
2     GP   F   15       U     LE3       T     1     1   at_home     other
3     GP   F   15       U     GT3       T     4     2    health  services
4     GP   F   16       U     GT3       T     3     3     other     other
5     GP   M   16       U     LE3       T     4     3  services     other
6     GP   M   16       U     LE3       T     2     2     other     other
7     GP   F   17       U     GT3       A     4     4     other   teacher
8     GP   M   15       U     LE3       A     3     2  services     other
9     GP   M   15       U     GT3       T     3     4     other     other

   ...   freetime goout  Dalc  Walc  health absences  G1  G2  G3 Result
0  ...          3     4     1     1       3        6   5   6   6   Fail
1  ...          3     3     1     1       3        4   5   5   6   Fail
2  ...          3     2     2     3       3       10   7   8  10   Pass
3  ...          2     2     1     1       5        2  15  14  15   Pass
4  ...          3     2     1     2       5        4   6  10  10   Pass
5  ...          4     2     1     2       5       10  15  15  15   Pass
6  ...          4     4     1     1       3        0  12  12  11   Pass
7  ...          1     4     1     1       1        6   6   5   6   Fail
8  ...          2     2     1     1       1        0  16  18  19   Pass
9  ...          5     1     1     1       5        0  14  15  15   Pass

[10 rows x 34 columns]

In [51]:
#Check for missing values
mat.isnull().sum()
port.isnull().sum()

#Check for outliers within age
z = np.abs(stats.zscore(mat['age']))

#print(z)
threshold = 3
print(np.where(z > 3))
print (z[247,])
print (z[392,])

print (mat.at[247, 'age'])
print (mat.at[392, 'age'])

matcleaned = mat[(z < 3).all(axis='age')]
#Check for outliers within absences
y = np.abs(stats.zscore(mat['absences']))

threshold = 3
print(np.where(y > 3))

(array([247, 392]),)
4.1617132467884606
3.377046548706627
22
21

TypeError: 'str' object cannot be interpreted as an integer

   age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  goout  \
0   18     4     4           2          2         0       4         3      4
1   17     1     1           1          2         0       5         3      3
2   15     1     1           1          2         3       4         3      2
3   15     4     2           1          3         0       3         2      2
4   16     3     3           1          2         0       4         3      2
5   16     4     3           1          2         0       5         4      2
6   16     2     2           1          2         0       4         4      4
7   17     4     4           2          2         0       4         1      4
8   15     3     2           1          2         0       4         2      2
9   15     3     4           1          2         0       5         5      1

   Dalc  Walc  health  absences  G1  G2  G3
0     1     1       3         6   5   6   6
1     1     1       3         4   5   5   6
2     2     3       3        10   7   8  10
3     1     1       5         2  15  14  15
4     1     2       5         4   6  10  10
5     1     2       5        10  15  15  15
6     1     1       3         0  12  12  11
7     1     1       1         6   6   5   6
8     1     1       1         0  16  18  19
9     1     1       5         0  14  15  15