In [1]:
#import seaborn as sns
#import pandas as pd
#import numpy as np
#from scipy import stats

import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataManipulation').getOrCreate()

In [2]:
#mat = pd.read_csv('student-mat.csv', sep = ';')
#print(mat.head(10))
#print(mat.shape)


matdf = spark.read.csv('student-mat.csv',sep = ';', header=True,inferSchema=True)

#Here's the first row of the data.
print(matdf.head())

#And the entire data structure. 
matdf.printSchema()

matdf.show()

#Data description
matdf.describe().toPandas().transpose()

Row(school='GP', sex='F', age=18, address='U', famsize='GT3', Pstatus='A', Medu=4, Fedu=4, Mjob='at_home', Fjob='teacher', reason='course', guardian='mother', traveltime=2, studytime=2, failures=0, schoolsup='yes', famsup='no', paid='no', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=4, freetime=3, goout=4, Dalc=1, Walc=1, health=3, absences=6, G1=5, G2=6, G3=6)
root
 |-- school: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- famsize: string (nullable = true)
 |-- Pstatus: string (nullable = true)
 |-- Medu: integer (nullable = true)
 |-- Fedu: integer (nullable = true)
 |-- Mjob: string (nullable = true)
 |-- Fjob: string (nullable = true)
 |-- reason: string (nullable = true)
 |-- guardian: string (nullable = true)
 |-- traveltime: integer (nullable = true)
 |-- studytime: integer (nullable = true)
 |-- failures: integer (nullable = true)
 |-- schoolsup: string (nullable = true)
 |-- famsup: string (nullable = true)
 |-- paid: string (nullable = true)
 |-- activities: string (nullable = true)
 |-- nursery: string (nullable = true)
 |-- higher: string (nullable = true)
 |-- internet: string (nullable = true)
 |-- romantic: string (nullable = true)
 |-- famrel: integer (nullable = true)
 |-- freetime: integer (nullable = true)
 |-- goout: integer (nullable = true)
 |-- Dalc: integer (nullable = true)
 |-- Walc: integer (nullable = true)
 |-- health: integer (nullable = true)
 |-- absences: integer (nullable = true)
 |-- G1: integer (nullable = true)
 |-- G2: integer (nullable = true)
 |-- G3: integer (nullable = true)

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0| 10|  8|  9|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4| 10| 12| 12|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2| 14| 14| 14|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2| 10| 10| 11|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 16| 16|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4| 14| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6| 13| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|  8| 10| 10|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|  6|  5|  5|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|  8| 10| 10|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 20 rows

                0                   1                   2        3           4
summary     count                mean              stddev      min         max
school        395                None                None       GP          MS
sex           395                None                None        F           M
age           395  16.696202531645568  1.2760427246056265       15          22
address       395                None                None        R           U
famsize       395                None                None      GT3         LE3
Pstatus       395                None                None        A           T
Medu          395   2.749367088607595  1.0947351414285371        0           4
Fedu          395  2.5215189873417723  1.0882005458269433        0           4
Mjob          395                None                None  at_home     teacher
Fjob          395                None                None  at_home     teacher
reason        395                None                None   course  reputation
guardian      395                None                None   father       other
traveltime    395  1.4481012658227848  0.6975047549086822        1           4
studytime     395  2.0354430379746837  0.8392403464185556        1           4
failures      395  0.3341772151898734  0.7436509736062509        0           3
schoolsup     395                None                None       no         yes
famsup        395                None                None       no         yes
paid          395                None                None       no         yes
activities    395                None                None       no         yes
nursery       395                None                None       no         yes
higher        395                None                None       no         yes
internet      395                None                None       no         yes
romantic      395                None                None       no         yes
famrel        395  3.9443037974683546  0.8966586076885046        1           5
freetime      395  3.2354430379746835  0.9988620396657203        1           5
goout         395   3.108860759493671  1.1132781740183422        1           5
Dalc          395   1.481012658227848  0.8907414280909668        1           5
Walc          395  2.2911392405063293  1.2878965924510932        1           5
health        395  3.5544303797468353  1.3903033913095773        1           5
absences      395   5.708860759493671   8.003095687108182        0          75
G1            395   10.90886075949367  3.3191946715076686        3          19
G2            395  10.713924050632912  3.7615046595560306        0          19
G3            395  10.415189873417722  4.5814426109978434        0          20

In [3]:
#port = pd.read_csv('student-por.csv', sep = ';')
#print(port.head(10))
#print(port.shape)
portdf = spark.read.csv('student-por.csv',sep = ';', header=True,inferSchema=True)

#Here's the first row of the data.
print(portdf.head())

#And the entire data structure. 
portdf.printSchema()

portdf.show()

#Data description
portdf.describe().toPandas().transpose()

Row(school='GP', sex='F', age=18, address='U', famsize='GT3', Pstatus='A', Medu=4, Fedu=4, Mjob='at_home', Fjob='teacher', reason='course', guardian='mother', traveltime=2, studytime=2, failures=0, schoolsup='yes', famsup='no', paid='no', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=4, freetime=3, goout=4, Dalc=1, Walc=1, health=3, absences=4, G1=0, G2=11, G3=11)
root
 |-- school: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- famsize: string (nullable = true)
 |-- Pstatus: string (nullable = true)
 |-- Medu: integer (nullable = true)
 |-- Fedu: integer (nullable = true)
 |-- Mjob: string (nullable = true)
 |-- Fjob: string (nullable = true)
 |-- reason: string (nullable = true)
 |-- guardian: string (nullable = true)
 |-- traveltime: integer (nullable = true)
 |-- studytime: integer (nullable = true)
 |-- failures: integer (nullable = true)
 |-- schoolsup: string (nullable = true)
 |-- famsup: string (nullable = true)
 |-- paid: string (nullable = true)
 |-- activities: string (nullable = true)
 |-- nursery: string (nullable = true)
 |-- higher: string (nullable = true)
 |-- internet: string (nullable = true)
 |-- romantic: string (nullable = true)
 |-- famrel: integer (nullable = true)
 |-- freetime: integer (nullable = true)
 |-- goout: integer (nullable = true)
 |-- Dalc: integer (nullable = true)
 |-- Walc: integer (nullable = true)
 |-- health: integer (nullable = true)
 |-- absences: integer (nullable = true)
 |-- G1: integer (nullable = true)
 |-- G2: integer (nullable = true)
 |-- G3: integer (nullable = true)

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       4|  0| 11| 11|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       2|  9| 11| 11|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       0|      yes|    no|  no|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|       6| 12| 13| 12|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       0| 14| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes|  no|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       0| 11| 13| 13|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|       6| 12| 12| 13|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 13| 12| 13|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       2| 10| 13| 13|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 15| 16| 17|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 12| 12| 13|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       2| 14| 14| 14|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       0| 10| 12| 13|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       0| 12| 13| 12|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       0| 12| 12| 13|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 14| 15|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       6| 17| 17| 17|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|      10| 13| 13| 14|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       2| 13| 14| 14|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|       2|  8|  8|  7|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no|  no|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       6| 12| 12| 12|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 20 rows

                0                   1                   2        3           4
summary     count                mean              stddev      min         max
school        649                None                None       GP          MS
sex           649                None                None        F           M
age           649    16.7442218798151  1.2181376394800634       15          22
address       649                None                None        R           U
famsize       649                None                None      GT3         LE3
Pstatus       649                None                None        A           T
Medu          649   2.514637904468413  1.1345519999533167        0           4
Fedu          649  2.3066255778120186  1.0999309111408038        0           4
Mjob          649                None                None  at_home     teacher
Fjob          649                None                None  at_home     teacher
reason        649                None                None   course  reputation
guardian      649                None                None   father       other
traveltime    649   1.568567026194145  0.7486600863534165        1           4
studytime     649  1.9306625577812018  0.8295095746366149        1           4
failures      649  0.2218798151001541  0.5932351492649628        0           3
schoolsup     649                None                None       no         yes
famsup        649                None                None       no         yes
paid          649                None                None       no         yes
activities    649                None                None       no         yes
nursery       649                None                None       no         yes
higher        649                None                None       no         yes
internet      649                None                None       no         yes
romantic      649                None                None       no         yes
famrel        649   3.930662557781202  0.9557168913381862        1           5
freetime      649   3.180277349768875  1.0510925753570628        1           5
goout         649   3.184899845916795  1.1757661138423128        1           5
Dalc          649    1.50231124807396  0.9248344305673262        1           5
Walc          649   2.280431432973806   1.284379971949024        1           5
health        649   3.536209553158706  1.4462590500910695        1           5
absences      649  3.6594761171032357   4.640758808397153        0          32
G1            649  11.399075500770415  2.7452651284463707        0          19
G2            649  11.570107858243452   2.913638664303866        0          19
G3            649  11.906009244992296   3.230656242804805        0          19

In [4]:
#merged = mat.append(port)
#print(merged.shape)
mergedspark = matdf.union(portdf)

print(mergedspark.head(5))
mergedspark.describe()
print("Total rows:", mergedspark.count())
mergedspark.printSchema()

[Row(school='GP', sex='F', age=18, address='U', famsize='GT3', Pstatus='A', Medu=4, Fedu=4, Mjob='at_home', Fjob='teacher', reason='course', guardian='mother', traveltime=2, studytime=2, failures=0, schoolsup='yes', famsup='no', paid='no', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=4, freetime=3, goout=4, Dalc=1, Walc=1, health=3, absences=6, G1=5, G2=6, G3=6), Row(school='GP', sex='F', age=17, address='U', famsize='GT3', Pstatus='T', Medu=1, Fedu=1, Mjob='at_home', Fjob='other', reason='course', guardian='father', traveltime=1, studytime=2, failures=0, schoolsup='no', famsup='yes', paid='no', activities='no', nursery='no', higher='yes', internet='yes', romantic='no', famrel=5, freetime=3, goout=3, Dalc=1, Walc=1, health=3, absences=4, G1=5, G2=5, G3=6), Row(school='GP', sex='F', age=15, address='U', famsize='LE3', Pstatus='T', Medu=1, Fedu=1, Mjob='at_home', Fjob='other', reason='other', guardian='mother', traveltime=1, studytime=2, failures=3, schoolsup='yes', famsup='no', paid='yes', activities='no', nursery='yes', higher='yes', internet='yes', romantic='no', famrel=4, freetime=3, goout=2, Dalc=2, Walc=3, health=3, absences=10, G1=7, G2=8, G3=10), Row(school='GP', sex='F', age=15, address='U', famsize='GT3', Pstatus='T', Medu=4, Fedu=2, Mjob='health', Fjob='services', reason='home', guardian='mother', traveltime=1, studytime=3, failures=0, schoolsup='no', famsup='yes', paid='yes', activities='yes', nursery='yes', higher='yes', internet='yes', romantic='yes', famrel=3, freetime=2, goout=2, Dalc=1, Walc=1, health=5, absences=2, G1=15, G2=14, G3=15), Row(school='GP', sex='F', age=16, address='U', famsize='GT3', Pstatus='T', Medu=3, Fedu=3, Mjob='other', Fjob='other', reason='home', guardian='father', traveltime=1, studytime=2, failures=0, schoolsup='no', famsup='yes', paid='yes', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=4, freetime=3, goout=2, Dalc=1, Walc=2, health=5, absences=4, G1=6, G2=10, G3=10)]
Total rows: 1044
root
 |-- school: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- famsize: string (nullable = true)
 |-- Pstatus: string (nullable = true)
 |-- Medu: integer (nullable = true)
 |-- Fedu: integer (nullable = true)
 |-- Mjob: string (nullable = true)
 |-- Fjob: string (nullable = true)
 |-- reason: string (nullable = true)
 |-- guardian: string (nullable = true)
 |-- traveltime: integer (nullable = true)
 |-- studytime: integer (nullable = true)
 |-- failures: integer (nullable = true)
 |-- schoolsup: string (nullable = true)
 |-- famsup: string (nullable = true)
 |-- paid: string (nullable = true)
 |-- activities: string (nullable = true)
 |-- nursery: string (nullable = true)
 |-- higher: string (nullable = true)
 |-- internet: string (nullable = true)
 |-- romantic: string (nullable = true)
 |-- famrel: integer (nullable = true)
 |-- freetime: integer (nullable = true)
 |-- goout: integer (nullable = true)
 |-- Dalc: integer (nullable = true)
 |-- Walc: integer (nullable = true)
 |-- health: integer (nullable = true)
 |-- absences: integer (nullable = true)
 |-- G1: integer (nullable = true)
 |-- G2: integer (nullable = true)
 |-- G3: integer (nullable = true)

In [5]:

#merged['Result'] = np.where(merged['G3'] >= 10, 'Pass', 'Fail')
#print(merged.head(10))


#mergedspark['Result'] = mergedspark.filter(mergedspark['G3'] >= 10, 'Pass', 'Fail')
#mergedspark['Result']= (mergedspark.filter(mergedspark.G3 > 10),'Pass', 'Fail')
#mergedspark.filter(mergedspark.G3 > 10).collect()
from pyspark.sql.functions import udf

def passorfail(G3):
    if G3 >= 10:
        return 'Pass'
    else:
        return 'Fail'

check = udf(passorfail)
mergedspark_new = mergedspark.withColumn("Results",check("G3"))
mergedspark_new.show(n=10)

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|Results|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|   Fail|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|   Fail|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|   Pass|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|   Pass|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|   Pass|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|   Pass|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|   Pass|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|   Fail|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|   Pass|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|   Pass|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------+
only showing top 10 rows

In [6]:
mergedpd = mergedspark_new.toPandas() 

import matplotlib.pyplot as plt
y = mergedpd['G2']
x = range(0,len(mergedpd))
plt.scatter(x,y)
mergedpd[mergedpd['G2']== 0]

#https://machinelearningmastery.com/how-to-identify-outliers-in-your-data/
#Check for missing values
print(mergedpd.isnull().sum())

#Check for outliers within age. extreme value analysis, get rid of all outliers that are more than 3 standard deviations
import numpy as np
from scipy import stats
mergedpd['age z score'] = np.abs(stats.zscore(mergedpd['age']))
threshold = 3
print(len(mergedpd))
#save dataframe that has gotten rid of outliers
mergedpd = mergedpd[mergedpd['age z score'] < 3]
print(len(mergedpd))

#Check for outliers within absences. extreme value analysis, get rid of all outliers that are more than 3 standard deviations
mergedpd['absences z score'] = np.abs(stats.zscore(mergedpd['absences']))
threshold = 3
print(len(mergedpd))
#save dataframe that has gotten rid of outliers
mergedpd = mergedpd[mergedpd['absences z score'] < 3]
print(len(mergedpd))


#Check for outliers within G1. extreme value analysis, get rid of all outliers that are more than 3 standard deviations
mergedpd['G1 z score'] = np.abs(stats.zscore(mergedpd['G1']))
threshold = 3
print(len(mergedpd))
#save dataframe that has gotten rid of outliers
mergedpd = mergedpd[mergedpd['G1 z score'] < 3]
print(len(mergedpd))

#Check for outliers within G2. extreme value analysis, get rid of all outliers that are more than 3 standard deviations
mergedpd['G2 z score'] = np.abs(stats.zscore(mergedpd['G2']))
threshold = 3
print(len(mergedpd))
#save dataframe that has gotten rid of outliers
mergedpd = mergedpd[mergedpd['G2 z score'] < 3]
print(len(mergedpd))

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
Results       0
dtype: int64
1044
1039
1039
1024
1024
1023
1023
1003

In [7]:
#Convert categorical variables to one hot encoding, keep numerical vars as is

import pandas as pd
mergedpd = pd.get_dummies(mergedpd)
mergedpd.info()

#Binary categorical variables can be encoding using only 1 var, so let's delete the other var
redundant_vars = [
    'school_MS',
    'sex_M',
    'address_U',
    'famsize_LE3',
    'Pstatus_T',
    'schoolsup_no',
    'famsup_no',
    'paid_no',
    'activities_no',
    'nursery_no',
    'higher_no',
    'internet_no',
    'romantic_no',
    'Results_Fail'
]
mergedpd.drop(redundant_vars, axis=1, inplace=True)
mergedpd.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1003 entries, 0 to 1043
Data columns (total 65 columns):
age                  1003 non-null int64
Medu                 1003 non-null int64
Fedu                 1003 non-null int64
traveltime           1003 non-null int64
studytime            1003 non-null int64
failures             1003 non-null int64
famrel               1003 non-null int64
freetime             1003 non-null int64
goout                1003 non-null int64
Dalc                 1003 non-null int64
Walc                 1003 non-null int64
health               1003 non-null int64
absences             1003 non-null int64
G1                   1003 non-null int64
G2                   1003 non-null int64
G3                   1003 non-null int64
age z score          1003 non-null float64
absences z score     1003 non-null float64
G1 z score           1003 non-null float64
G2 z score           1003 non-null float64
school_GP            1003 non-null uint8
school_MS            1003 non-null uint8
sex_F                1003 non-null uint8
sex_M                1003 non-null uint8
address_R            1003 non-null uint8
address_U            1003 non-null uint8
famsize_GT3          1003 non-null uint8
famsize_LE3          1003 non-null uint8
Pstatus_A            1003 non-null uint8
Pstatus_T            1003 non-null uint8
Mjob_at_home         1003 non-null uint8
Mjob_health          1003 non-null uint8
Mjob_other           1003 non-null uint8
Mjob_services        1003 non-null uint8
Mjob_teacher         1003 non-null uint8
Fjob_at_home         1003 non-null uint8
Fjob_health          1003 non-null uint8
Fjob_other           1003 non-null uint8
Fjob_services        1003 non-null uint8
Fjob_teacher         1003 non-null uint8
reason_course        1003 non-null uint8
reason_home          1003 non-null uint8
reason_other         1003 non-null uint8
reason_reputation    1003 non-null uint8
guardian_father      1003 non-null uint8
guardian_mother      1003 non-null uint8
guardian_other       1003 non-null uint8
schoolsup_no         1003 non-null uint8
schoolsup_yes        1003 non-null uint8
famsup_no            1003 non-null uint8
famsup_yes           1003 non-null uint8
paid_no              1003 non-null uint8
paid_yes             1003 non-null uint8
activities_no        1003 non-null uint8
activities_yes       1003 non-null uint8
nursery_no           1003 non-null uint8
nursery_yes          1003 non-null uint8
higher_no            1003 non-null uint8
higher_yes           1003 non-null uint8
internet_no          1003 non-null uint8
internet_yes         1003 non-null uint8
romantic_no          1003 non-null uint8
romantic_yes         1003 non-null uint8
Results_Fail         1003 non-null uint8
Results_Pass         1003 non-null uint8
dtypes: float64(4), int64(16), uint8(45)
memory usage: 208.6 KB

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,guardian_other,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes,Results_Pass
0,18,4,4,2,2,0,4,3,4,1,...,0,1,0,0,0,1,1,0,0,0
1,17,1,1,1,2,0,5,3,3,1,...,0,0,1,0,0,0,1,1,0,0
2,15,1,1,1,2,3,4,3,2,2,...,0,1,0,1,0,1,1,1,0,1
3,15,4,2,1,3,0,3,2,2,1,...,0,0,1,1,1,1,1,1,1,1
4,16,3,3,1,2,0,4,3,2,1,...,0,0,1,1,0,1,1,0,0,1

In [8]:
#Correlations for results
corr = mergedpd.corr()
corr_G3 = mergedpd.corr()['G3']
corr_G3.sort_values()

failures            -0.374855
Dalc                -0.137132
Walc                -0.135763
address_R           -0.114064
age                 -0.113185
absences z score    -0.109783
schoolsup_yes       -0.109435
Mjob_at_home        -0.095788
traveltime          -0.090403
goout               -0.090212
absences            -0.086641
Mjob_other          -0.084824
paid_yes            -0.076146
health              -0.072765
guardian_other      -0.069952
reason_course       -0.063103
romantic_yes        -0.059847
reason_other        -0.053433
Fjob_services       -0.051138
famsize_GT3         -0.046953
age z score         -0.046203
freetime            -0.045645
Fjob_other          -0.021760
reason_home         -0.002988
famsup_yes          -0.000364
Fjob_at_home         0.003043
guardian_mother      0.015977
guardian_father      0.022814
sex_F                0.025804
Fjob_health          0.032028
nursery_yes          0.032836
activities_yes       0.042961
Pstatus_A            0.045944
Mjob_services        0.056128
G1 z score           0.065114
famrel               0.076247
internet_yes         0.089740
Mjob_teacher         0.089747
Mjob_health          0.091279
G2 z score           0.107341
Fjob_teacher         0.112631
reason_reputation    0.113954
school_GP            0.132238
studytime            0.157167
Fedu                 0.160173
Medu                 0.212753
higher_yes           0.221461
Results_Pass         0.704753
G1                   0.824514
G2                   0.890576
G3                   1.000000
Name: G3, dtype: float64

In [10]:
normalized_mergedpd=(mergedpd-mergedpd.min())/(mergedpd.max()-mergedpd.min())
print(normalized_mergedpd)

      age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  \
0     0.6  1.00  1.00    0.333333   0.333333  0.000000    0.75      0.50
1     0.4  0.25  0.25    0.000000   0.333333  0.000000    1.00      0.50
2     0.0  0.25  0.25    0.000000   0.333333  1.000000    0.75      0.50
3     0.0  1.00  0.50    0.000000   0.666667  0.000000    0.50      0.25
4     0.2  0.75  0.75    0.000000   0.333333  0.000000    0.75      0.50
5     0.2  1.00  0.75    0.000000   0.333333  0.000000    1.00      0.75
6     0.2  0.50  0.50    0.000000   0.333333  0.000000    0.75      0.75
7     0.4  1.00  1.00    0.333333   0.333333  0.000000    0.75      0.00
8     0.0  0.75  0.50    0.000000   0.333333  0.000000    0.75      0.25
9     0.0  0.75  1.00    0.000000   0.333333  0.000000    1.00      1.00
10    0.0  1.00  1.00    0.000000   0.333333  0.000000    0.50      0.50
11    0.0  0.50  0.25    0.666667   0.666667  0.000000    1.00      0.25
12    0.0  1.00  1.00    0.000000   0.000000  0.000000    0.75      0.50
13    0.0  1.00  0.75    0.333333   0.333333  0.000000    1.00      0.75
14    0.0  0.50  0.50    0.000000   0.666667  0.000000    0.75      1.00
15    0.2  1.00  1.00    0.000000   0.000000  0.000000    0.75      0.75
16    0.2  1.00  1.00    0.000000   0.666667  0.000000    0.50      0.25
17    0.2  0.75  0.75    0.666667   0.333333  0.000000    1.00      0.50
18    0.4  0.75  0.50    0.000000   0.000000  1.000000    1.00      1.00
19    0.2  1.00  0.75    0.000000   0.000000  0.000000    0.50      0.00
20    0.0  1.00  0.75    0.000000   0.333333  0.000000    0.75      0.75
21    0.0  1.00  1.00    0.000000   0.000000  0.000000    1.00      0.75
22    0.2  1.00  0.50    0.000000   0.333333  0.000000    0.75      1.00
23    0.2  0.50  0.50    0.333333   0.333333  0.000000    1.00      0.75
24    0.0  0.50  1.00    0.000000   0.666667  0.000000    0.75      0.50
25    0.2  0.50  0.50    0.000000   0.000000  0.666667    0.00      0.25
26    0.0  0.50  0.50    0.000000   0.000000  0.000000    0.75      0.25
27    0.0  1.00  0.50    0.000000   0.000000  0.000000    0.25      0.25
28    0.2  0.75  1.00    0.000000   0.333333  0.000000    1.00      0.50
29    0.2  1.00  1.00    0.000000   0.333333  0.000000    0.75      0.75
...   ...   ...   ...         ...        ...       ...     ...       ...
1014  0.6  0.75  0.75    0.333333   0.333333  0.000000    0.75      0.50
1015  0.4  1.00  1.00    0.000000   0.333333  0.000000    0.25      0.50
1016  0.4  0.25  0.50    0.333333   0.333333  0.000000    0.50      0.25
1017  0.6  0.25  0.75    0.333333   0.333333  0.000000    0.50      0.50
1018  0.6  1.00  1.00    0.333333   0.666667  0.000000    0.75      0.25
1019  0.4  0.25  0.25    0.666667   0.000000  0.333333    1.00      0.25
1020  0.6  0.50  0.75    0.333333   0.000000  0.000000    1.00      0.25
1021  0.6  1.00  1.00    0.666667   0.333333  0.000000    0.50      0.25
1022  0.6  0.25  0.50    0.666667   0.000000  0.000000    0.75      0.50
1023  0.4  0.50  0.50    0.000000   0.666667  0.000000    0.50      0.75
1024  0.4  0.25  0.50    0.000000   0.000000  0.000000    0.50      1.00
1025  0.6  1.00  1.00    0.333333   0.666667  0.000000    1.00      0.75
1026  0.6  0.25  0.25    1.000000   0.666667  0.000000    0.75      0.50
1027  0.8  0.25  0.25    0.333333   0.333333  0.333333    0.75      0.50
1028  0.6  1.00  1.00    0.000000   0.333333  0.000000    1.00      0.75
1029  0.6  0.75  0.75    0.000000   0.333333  0.000000    0.75      0.00
1030  0.4  0.75  0.25    0.000000   0.333333  0.000000    0.75      1.00
1031  0.6  1.00  1.00    0.000000   0.333333  0.000000    0.50      0.25
1032  0.6  0.50  0.25    0.333333   0.000000  0.000000    0.75      0.75
1033  0.4  0.50  0.75    0.333333   0.333333  0.000000    0.75      0.75
1034  0.8  0.25  0.25    0.333333   0.000000  0.333333    0.75      0.50
1035  0.6  1.00  0.50    0.333333   0.000000  0.333333    1.00      0.75
1036  0.6  0.50  0.50    0.333333   0.666667  0.000000    1.00      0.50
1037  0.4  1.00  0.75    0.333333   0.333333  0.000000    1.00      1.00
1038  0.6  1.00  1.00    0.666667   0.000000  0.000000    0.75      0.75
1039  0.8  0.50  0.75    0.000000   0.666667  0.333333    1.00      0.75
1040  0.6  0.75  0.25    0.000000   0.333333  0.000000    0.75      0.50
1041  0.6  0.25  0.25    0.333333   0.333333  0.000000    0.00      0.00
1042  0.4  0.75  0.25    0.333333   0.000000  0.000000    0.25      0.75
1043  0.6  0.75  0.50    0.666667   0.000000  0.000000    0.75      0.75

      goout  Dalc      ...       guardian_other  schoolsup_yes  famsup_yes  \
0      0.75  0.00      ...                  0.0            1.0         0.0
1      0.50  0.00      ...                  0.0            0.0         1.0
2      0.25  0.25      ...                  0.0            1.0         0.0
3      0.25  0.00      ...                  0.0            0.0         1.0
4      0.25  0.00      ...                  0.0            0.0         1.0
5      0.25  0.00      ...                  0.0            0.0         1.0
6      0.75  0.00      ...                  0.0            0.0         0.0
7      0.75  0.00      ...                  0.0            1.0         1.0
8      0.25  0.00      ...                  0.0            0.0         1.0
9      0.00  0.00      ...                  0.0            0.0         1.0
10     0.50  0.00      ...                  0.0            0.0         1.0
11     0.25  0.00      ...                  0.0            0.0         1.0
12     0.50  0.00      ...                  0.0            0.0         1.0
13     0.50  0.00      ...                  0.0            0.0         1.0
14     0.25  0.00      ...                  1.0            0.0         1.0
15     0.75  0.00      ...                  0.0            0.0         1.0
16     0.50  0.00      ...                  0.0            0.0         1.0
17     0.25  0.00      ...                  0.0            1.0         1.0
18     1.00  0.25      ...                  0.0            0.0         1.0
19     0.50  0.00      ...                  0.0            0.0         0.0
20     0.00  0.00      ...                  0.0            0.0         0.0
21     0.25  0.00      ...                  0.0            0.0         1.0
22     0.00  0.00      ...                  0.0            0.0         0.0
23     0.75  0.25      ...                  0.0            0.0         1.0
24     0.25  0.00      ...                  0.0            1.0         1.0
25     0.25  0.00      ...                  0.0            0.0         1.0
26     0.25  0.00      ...                  0.0            0.0         1.0
27     0.75  0.25      ...                  0.0            0.0         0.0
28     0.50  0.00      ...                  0.0            1.0         1.0
29     1.00  1.00      ...                  0.0            0.0         1.0
...     ...   ...      ...                  ...            ...         ...
1014   0.25  0.00      ...                  0.0            0.0         1.0
1015   0.75  0.00      ...                  0.0            0.0         1.0
1016   0.25  0.00      ...                  0.0            0.0         0.0
1017   0.75  0.25      ...                  0.0            0.0         1.0
1018   0.25  0.25      ...                  0.0            0.0         0.0
1019   0.00  0.00      ...                  0.0            0.0         1.0
1020   0.50  0.00      ...                  0.0            0.0         1.0
1021   0.25  0.75      ...                  0.0            0.0         1.0
1022   0.50  0.25      ...                  0.0            0.0         1.0
1023   0.50  0.00      ...                  0.0            0.0         0.0
1024   1.00  0.00      ...                  0.0            0.0         0.0
1025   0.75  0.00      ...                  0.0            0.0         0.0
1026   0.25  0.00      ...                  0.0            0.0         0.0
1027   0.50  0.00      ...                  1.0            0.0         1.0
1028   0.50  0.50      ...                  0.0            0.0         0.0
1029   0.50  0.00      ...                  0.0            0.0         0.0
1030   0.75  0.25      ...                  0.0            0.0         1.0
1031   0.75  0.00      ...                  0.0            0.0         0.0
1032   0.50  0.00      ...                  0.0            0.0         0.0
1033   0.50  0.00      ...                  0.0            0.0         0.0
1034   0.25  0.00      ...                  0.0            0.0         0.0
1035   0.50  0.75      ...                  0.0            0.0         0.0
1036   0.50  0.00      ...                  0.0            0.0         0.0
1037   0.75  0.00      ...                  0.0            0.0         0.0
1038   0.50  0.25      ...                  0.0            0.0         1.0
1039   0.25  0.00      ...                  0.0            0.0         0.0
1040   0.75  0.00      ...                  0.0            0.0         1.0
1041   0.00  0.00      ...                  0.0            0.0         0.0
1042   1.00  0.50      ...                  0.0            0.0         0.0
1043   0.00  0.50      ...                  0.0            0.0         0.0

      paid_yes  activities_yes  nursery_yes  higher_yes  internet_yes  \
0          0.0             0.0          1.0         1.0           0.0
1          0.0             0.0          0.0         1.0           1.0
2          1.0             0.0          1.0         1.0           1.0
3          1.0             1.0          1.0         1.0           1.0
4          1.0             0.0          1.0         1.0           0.0
5          1.0             1.0          1.0         1.0           1.0
6          0.0             0.0          1.0         1.0           1.0
7          0.0             0.0          1.0         1.0           0.0
8          1.0             0.0          1.0         1.0           1.0
9          1.0             1.0          1.0         1.0           1.0
10         1.0             0.0          1.0         1.0           1.0
11         0.0             1.0          1.0         1.0           1.0
12         1.0             1.0          1.0         1.0           1.0
13         1.0             0.0          1.0         1.0           1.0
14         0.0             0.0          1.0         1.0           1.0
15         0.0             0.0          1.0         1.0           1.0
16         1.0             1.0          1.0         1.0           1.0
17         0.0             1.0          1.0         1.0           0.0
18         0.0             1.0          1.0         1.0           1.0
19         1.0             1.0          1.0         1.0           1.0
20         0.0             0.0          1.0         1.0           1.0
21         1.0             0.0          1.0         1.0           1.0
22         0.0             1.0          1.0         1.0           1.0
23         0.0             1.0          1.0         1.0           1.0
24         1.0             1.0          1.0         1.0           1.0
25         1.0             0.0          0.0         1.0           1.0
26         1.0             0.0          1.0         1.0           1.0
27         1.0             0.0          1.0         1.0           1.0
28         0.0             1.0          1.0         1.0           1.0
29         1.0             1.0          1.0         1.0           1.0
...        ...             ...          ...         ...           ...
1014       0.0             0.0          1.0         1.0           1.0
1015       0.0             1.0          1.0         1.0           1.0
1016       0.0             0.0          0.0         1.0           0.0
1017       1.0             0.0          1.0         1.0           0.0
1018       0.0             0.0          1.0         1.0           1.0
1019       0.0             0.0          1.0         1.0           1.0
1020       0.0             0.0          1.0         1.0           1.0
1021       0.0             0.0          0.0         1.0           1.0
1022       0.0             1.0          1.0         0.0           1.0
1023       0.0             1.0          1.0         1.0           0.0
1024       0.0             1.0          1.0         1.0           1.0
1025       0.0             0.0          1.0         1.0           1.0
1026       0.0             0.0          1.0         1.0           1.0
1027       0.0             0.0          1.0         1.0           1.0
1028       0.0             1.0          1.0         1.0           1.0
1029       0.0             0.0          1.0         1.0           1.0
1030       0.0             1.0          0.0         1.0           1.0
1031       0.0             1.0          0.0         1.0           1.0
1032       0.0             1.0          0.0         1.0           1.0
1033       0.0             1.0          1.0         1.0           1.0
1034       0.0             0.0          1.0         1.0           0.0
1035       1.0             0.0          1.0         1.0           0.0
1036       0.0             0.0          1.0         1.0           0.0
1037       0.0             0.0          1.0         1.0           1.0
1038       0.0             1.0          1.0         1.0           1.0
1039       0.0             1.0          0.0         1.0           1.0
1040       0.0             0.0          1.0         1.0           1.0
1041       0.0             1.0          1.0         1.0           0.0
1042       0.0             0.0          0.0         1.0           1.0
1043       0.0             0.0          0.0         1.0           1.0

      romantic_yes  Results_Pass
0              0.0           0.0
1              0.0           0.0
2              0.0           1.0
3              1.0           1.0
4              0.0           1.0
5              0.0           1.0
6              0.0           1.0
7              0.0           0.0
8              0.0           1.0
9              0.0           1.0
10             0.0           0.0
11             0.0           1.0
12             0.0           1.0
13             0.0           1.0
14             1.0           1.0
15             0.0           1.0
16             0.0           1.0
17             0.0           1.0
18             0.0           0.0
19             0.0           1.0
20             0.0           1.0
21             0.0           1.0
22             0.0           1.0
23             0.0           1.0
24             0.0           0.0
25             0.0           0.0
26             0.0           1.0
27             0.0           1.0
28             0.0           1.0
29             1.0           1.0
...            ...           ...
1014           1.0           1.0
1015           1.0           1.0
1016           0.0           1.0
1017           0.0           0.0
1018           1.0           1.0
1019           1.0           0.0
1020           1.0           1.0
1021           1.0           0.0
1022           1.0           1.0
1023           1.0           1.0
1024           0.0           0.0
1025           0.0           1.0
1026           0.0           1.0
1027           1.0           0.0
1028           0.0           1.0
1029           1.0           1.0
1030           0.0           0.0
1031           0.0           1.0
1032           1.0           0.0
1033           0.0           1.0
1034           0.0           0.0
1035           0.0           0.0
1036           0.0           1.0
1037           0.0           1.0
1038           1.0           1.0
1039           0.0           1.0
1040           0.0           1.0
1041           0.0           0.0
1042           0.0           1.0
1043           0.0           1.0

[1003 rows x 51 columns]

In [14]:
corr = normalized_mergedpd.corr()
corr_G3 = normalized_mergedpd.corr()['G3']
corr_G3.sort_values()

failures            -0.374855
Dalc                -0.137132
Walc                -0.135763
address_R           -0.114064
age                 -0.113185
absences z score    -0.109783
schoolsup_yes       -0.109435
Mjob_at_home        -0.095788
traveltime          -0.090403
goout               -0.090212
absences            -0.086641
Mjob_other          -0.084824
paid_yes            -0.076146
health              -0.072765
guardian_other      -0.069952
reason_course       -0.063103
romantic_yes        -0.059847
reason_other        -0.053433
Fjob_services       -0.051138
famsize_GT3         -0.046953
age z score         -0.046203
freetime            -0.045645
Fjob_other          -0.021760
reason_home         -0.002988
famsup_yes          -0.000364
Fjob_at_home         0.003043
guardian_mother      0.015977
guardian_father      0.022814
sex_F                0.025804
Fjob_health          0.032028
nursery_yes          0.032836
activities_yes       0.042961
Pstatus_A            0.045944
Mjob_services        0.056128
G1 z score           0.065114
famrel               0.076247
internet_yes         0.089740
Mjob_teacher         0.089747
Mjob_health          0.091279
G2 z score           0.107341
Fjob_teacher         0.112631
reason_reputation    0.113954
school_GP            0.132238
studytime            0.157167
Fedu                 0.160173
Medu                 0.212753
higher_yes           0.221461
Results_Pass         0.704753
G1                   0.824514
G2                   0.890576
G3                   1.000000
Name: G3, dtype: float64